@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;300;400;600;700&family=Courgette&family=Sorts+Mill+Goudy&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.cdnfonts.com/css/aquatico');
@import url('https://fonts.cdnfonts.com/css/aeroport-2');
@import url('https://fonts.cdnfonts.com/css/cheorcy');
@import url('https://fonts.cdnfonts.com/css/harmond-font-family');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.cdnfonts.com/css/monument-extended');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    box-sizing: content-box;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

  html {
    overflow-x: hidden;
  }

  body {
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 100%;
  }

  #app {
    @apply min-w-full min-h-full bg-transparent antialiased;
  }

  .inverse-text {
    mix-blend-mode: difference;
    @apply text-white;
  }

  ::-webkit-scrollbar {
    width: 10px;
    padding: 0 5px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-white;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-none shadow-md px-2 transition-all duration-300 ease-out bg-[#d94b0f];
    /* background: repeating-linear-gradient(
      45deg,
      #d94b0f,
      #d94b0f 2.5px,
      #a1a1a1 2.5px,
      #a1a1a1 5px
    ); */
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply transition-all duration-300 ease-out;
    background: rgb(93 56 145);
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  /* spikes */
  .spikes_container {
    --spike-height: 20px;
    position: relative;
  }

  .spikes_container::after,
  .spikes_container::before {
    content: '';
    position: absolute;
    width: 100%;
    height: var(--spike-height);
    mask-image: url(assets/spikes.svg);
    mask-size: 80px var(--spike-height);
    mask-repeat: repeat-x;
  }

  .spikes_container::after {
    @apply bg-base100;
    top: 0;
  }
  .spikes_container::before {
    @apply bg-base900 drop-shadow-lg;

    bottom: 0;
    transform: rotate(0.5turn);
  }

  .spikes_container_about {
    --spike-height: 20px;
    position: relative;
  }

  .spikes_container_about::after,
  .spikes_container_about::before {
    content: '';
    position: absolute;
    width: 100%;
    height: var(--spike-height);
    mask-image: url(assets/spikes.svg);
    mask-size: 80px var(--spike-height);
    mask-repeat: repeat-x;
  }

  .spikes_container_about::after {
    @apply bg-base300;
    top: 0;
  }
  .spikes_container_about::before {
    @apply bg-base900;
    bottom: 0;
    transform: rotate(0.5turn);
  }

  /* spikes sm */
  .spikesSM_container {
    --spike-height: 20px;
    position: relative;
  }

  .spikesSM_container::after,
  .spikesSM_container::before {
    content: '';
    position: absolute;
    width: 100%;
    height: var(--spike-height);
    mask-image: url(assets/spikes.svg);
    mask-size: 80px var(--spike-height);
    mask-repeat: repeat-x;
  }

  .spikesSM_container::after {
    @apply bg-base100;
    top: 0;
  }
  .spikesSM_container::before {
    @apply bg-base100;

    bottom: 0;
    transform: rotate(0.5turn);
  }

  .spikesSM_container_about {
    --spike-height: 20px;
    position: relative;
  }

  .spikesSM_container_about::after,
  .spikesSM_container_about::before {
    content: '';
    position: absolute;
    width: 100%;
    height: var(--spike-height);
    mask-image: url(assets/spikes.svg);
    mask-size: 80px var(--spike-height);
    mask-repeat: repeat-x;
  }

  .spikesSM_container_about::after {
    @apply bg-base300;
    top: 0;
  }
  .spikesSM_container_about::before {
    @apply bg-base100;
    bottom: 0;
    transform: rotate(0.5turn);
  }
}

@layer utilities {
  .horizontal_scroll {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    gap: 50px;

    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }

  .h_scroll_item {
    @apply h-full w-96 p-10;
    scroll-snap-align: start;
    cursor: pointer;
    flex: 0 0 auto;
  }

  .clippy0 {
    clip-path: polygon(39% 21%, 99% 16%, 64% 100%, 5% 68%, 1% 5%);
  }
  .clippy1 {
    clip-path: polygon(14% 29%, 81% 0, 100% 84%, 54% 61%, 11% 100%);
  }
  .clippy2 {
    clip-path: polygon(0 32%, 100% 7%, 79% 86%, 47% 98%, 29% 84%);
  }
  .clippy3 {
    clip-path: polygon(28% 0, 100% 20%, 83% 61%, 90% 87%, 36% 75%, 0 86%);
  }
  .clippy4 {
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
  }

  .clip-para {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
  }

  .clip-para-reverse {
    clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
  }

  .hover-underline-animation {
    display: inline-block;
    position: relative;
  }

  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}
